.infoPenawar{
    .barnav{
        .container{
            .navtoggler{
                display: none;
            }
            .cari{
                display: none;
            }
            .infoPenawar{
                display: flex;
            }
            .card-icon{
                display: none;
            }
            .collapse{
                .collapse1{
                    .collapse2{
                        display: none;
                    }
                }
            }
            .grupform{
                .search{
                    display: none;
                }
            }    
        }
    }
}
